@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #275143;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ border-bottom: 1px solid #E4E4E4; position: fixed; left: 0; top: 0; width: 100%; z-index: 999; background-color: #fff; }
header .bar{ font-size: 12px; padding: 6px 0; background-color: var(--main-color); color: #fff; }
header .bar .member-list{ display: flex; justify-content: flex-end; align-items: center; gap: 17px; }
header .bar .member-list a{ display: flex; align-items: center; gap: 5px; }
header .bar .member-list > li{ position: relative; display: flex; align-items: center; padding-right: 10px;  }
header .bar .member-list > li:last-child{ padding-right: 0; }
header .bar .member-list > li::after{ content:''; position: absolute; right: 0; display: inline-block; width: 1px; height: 10px; background-color: #fff; }
header .real{ padding: 8px 0; }
header .real .inner{ display: flex; align-items: center; justify-content: space-between; }
header .real .menu-btn{ display: none; }
header .real .menu-list{ display: flex; align-items: center; gap: 57px; }

@media screen and (max-width: 650px) { 
    header .real .menu-list{ display: none; }
    header .real .menu-btn{ background: transparent; display: block; border: none; }
    header .real .menu-btn .icon{ width: 30px; }
    header .real .logo{ width: 250px; }
}

.slide-menu-close{ opacity: 0; visibility: hidden; cursor: pointer; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 999; }
.slide-menu-close.show{ opacity: 1; visibility: visible; }

.slide-menu{ position: fixed; right: -300px; transition: right .5s; top: 0; width: 300px; height: 100%; max-width: 90%; background-color: #fff; z-index: 9999; padding: 35px 0; }
.slide-menu.show{ right: 0; }
.slide-menu .btn-wrap{ padding: 0 3vw; display: flex; align-items: center; justify-content: flex-end; }
.slide-menu .btn-wrap .close-btn{ background: transparent; border: none; }
.slide-menu .btn-wrap .icon{ width: 25px; }
.slide-menu .menu-list{ margin-top: 30px; border-top: 1px solid #e4e4e4; }
.slide-menu .menu-list > li > a{ display: block; padding: 15px 10px; border-bottom: 1px solid #E4E4E4; font-weight: 700; font-size: 18px; }


/* footer */
footer{ padding: 46px 0 25px 0; background-color: #F7F7F7; color: #7A7A7A; }
footer .box1{ display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid rgba(217, 217, 217, .4); }
footer .box1 .privacyPopupBtn{ font-size: 18px; }
footer .box2{ display: flex; justify-content: space-between; padding-top: 12px; line-height: 1.5em; color: #7A7A7A; }
footer .box2 .right{ display: flex; flex-direction: column; align-items: flex-end; justify-content: space-between; }
footer .box2 .right .spon{ color: #fff; display: flex; align-items: center; gap: 15px; font-size: 18px;  font-weight: 500;}
footer .box2 .right .copy-right{ margin-top: 10px; font-size: 12px; }

@media screen and (max-width: 950px) { 
    footer{ font-size: 14px; padding: 30px 0 20px 0; }
    footer .box1 .privacyPopupBtn{ font-size: 14px; }
    footer .box2{ flex-direction: column; gap: 10px; }
    footer .box2 .right{ width: 100%; align-items: flex-start; }
}
@media screen and (max-width: 650px) { 
    footer .box1{ flex-direction: column; align-items: flex-start; gap: 10px; }
    footer .box1 .logo{ width: 250px; }
    footer .box2 .right .spon img{ width: auto; height: 30px; }
}

/* .sec_top */
.sec_top{ padding-top: 91px; }
@media screen and (max-width: 650px) { 
    .sec_top{ padding-top: 81px; }
}

.main{ overflow: hidden; }

/* .main .banner */
.main .banner{ position: relative; background-color: var(--main-color); }
.main .banner img{ width: 100%; }
.main .banner .inner{ display: flex; align-items: center; justify-content: center; }
.main .banner .pc{ width: 160%; }
.main .banner .mo{ display: none; }

@media screen and (max-width: 650px) { 
    .main .banner .pc{ display: none; }
    .main .banner .mo{ display: block; width: calc(100% + 6vw); }
}


/* .main .notice-section */
.main .notice-section{ padding: 50px 0 20px 0; }
.main .notice-section .inner{ display: flex; gap: 20px; }
.main-title{ margin-bottom: 16px; padding-bottom: 10px; border-bottom: 1px solid #A5ABA9; display: flex; align-items: flex-end; justify-content: space-between; }
.main-title .title{ font-size: 22px; font-weight: 700; }
.main-title .title .gray{ color: #7f7f7f; font-size: .8em; }
.main-title .more{ font-weight: 700; }

.main .notice-section .notice-arti{ flex-grow: 1; }
.main .notice-section .notice-arti .board-list{ background-color: #F6F6F6; border-radius: 10px; padding: 33px 22px; }
.main .notice-section .notice-arti .board-list > li > a{ padding: 10px 0; display: flex; align-items: center; justify-content: space-between; gap: 10px; }
.main .notice-section .notice-arti .board-list > li + li{ border-top: 1px solid #C7C7C7; }
.main .notice-section .notice-arti .board-list .title{  display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; }
.main .notice-section .notice-arti .board-list .date{ flex-shrink: 0; font-size: .9em; color: #7F7F7F; }

.main .notice-section .main-news{ width: 420px; flex-shrink: 0; }
.main .notice-section .main-news .slide-number{ font-weight: 700; font-size: .9em; }

.main .notice-section .main-news .slide-wrap{ overflow: hidden; position: relative; padding-bottom: 30px; }
.main .notice-section .main-news .slide-wrap .thumb{ width: 100%; }

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{ border-radius: 50%; background-color: #075D37; opacity: 1; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{ background-color: #1E2E29; }

@media screen and (max-width: 950px) { 
    .main .notice-section .inner{ flex-direction: column; }
    .main .notice-section .main-news{ width: 100%; }
}
@media screen and (max-width: 650px) { 
    .main .notice-section{ padding: 25px 0; }
    .main-title .title{ font-size: 18px; }
    .main-title .more{ font-size: 14px; }
    .main .notice-section .notice-arti .board-list{ padding: 10px; font-size: 14px; }
}

.main .edu-section{ padding: 0 0 50px 0; }
.edu-list{ display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px; }
.edu-list .item{ height: 100%; padding: 5px 5px 10px 5px; background-color: #fff; box-shadow: 5.351px 12.04px 12.04px 0 rgba(0, 0, 0, 0.10); border-radius: 5px; }
.edu-list .item .img-box{ height: 142px; border-radius: 5px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.edu-list .item .title{ margin: 10px 5px 5px 5px; font-size: 18px; font-weight: 700; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; }
.edu-list .item .content{ margin: 0 5px; color: #7F7F7F; line-height: 1.5em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }

@media screen and (max-width: 1250px) { 
    .edu-list .item .img-box{ height: 11vw; }

}
@media screen and (max-width: 950px) { 
    .edu-list{ grid-template-columns: repeat(2, 1fr); }
    .edu-list .item .img-box{ height: 23vw; }
}
@media screen and (max-width: 650px) { 
    .edu-list{ grid-gap: 5px; }
    .edu-list .item .title{ font-size: 14px; }
    .edu-list .item .content{ font-size: 13px; }
}
